html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

* {
	margin: 0;
	padding: 0;
	font-family: "Heebo", sans-serif;
}

.navbar {
	background-color: rgb(136, 178, 255);
	display: flex;
	flex-direction: row;
}

.navbar ul {
	margin: 10px;
	list-style-type: none;
	text-decoration: none;
}

h1 {
	font-size: 50px;
	font-weight: 700;
}

h2 {
	font-size: 25px;
	font-weight: 500;
}
p {
	font-weight: 300;
}
.center-title {
	text-align: center;
}
.container {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	margin: 2%;
}

.mycard-container {
	background-color: purple;
	min-width: 320px;
	display: -webkit-flex;
	flex-wrap: wrap;
	margin: 40px;
}

.myrow-card {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	flex: 1 1 auto;
	justify-content: center;
}

.mycard {
	width: 300px;
	height: 100%;
	margin: 10px;
	background-color: #fff;
	border-radius: 15px;
	height: 770px;
	position: relative;
}

.mycard h1 {
	font-size: 30px;
	margin: 5px 20px;
	text-align: center;
}

.mycard h2 {
	font-size: 24px;
	font-weight: 700;
}

.mycard h3 {
	font-size: 15px;
	margin: 16px 0px;
}

.mycard h4 {
	margin-top: 10px;
	font-size: 15px;
	font-weight: 500;
}

.mycard span {
	font-weight: 200;
}

.mycard li {
	margin-left: 20px;
	font-size: 15px;
	font-weight: 100;
}

.mycard-img {
	display: block;
	margin: auto;
	background-color: #dcdcdc;
	border-radius: 6px;
	margin-top: 20px;
	margin-bottom: 10px;
	width: 80%;
	padding: 5%;
}

.mycard-img img {
	width: 100%;
	height: 100%;
}

.mycard-body {
	margin: 0px 20px 20px 20px;
	justify-content: left;
}

.mycard-body h3 ul li {
	width: 100%;
	height: 100%;
}

.mycard-footer {
	text-align: center;
	background-color: #f7f7f7;
	border-radius: 15px;
	position: absolute;
	bottom: 0;
	margin-top: 20px;
	width: 100%;
}

.mycard-footer h4 {
	margin: 7px;
}

.pokemon-types {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.pokemon-types h2 {
	font-size: 20px;
}

.mybtn {
	width: 500px;
}

.star-checkbox {
	margin-left: 10%;
}

/* From uiverse.io */
.button {
	display: inline-block;
	padding: 12px 24px;
	border: 1px solid #4f4f4f;
	border-radius: 4px;
	transition: all 0.2s ease-in;
	position: relative;
	overflow: hidden;
	font-size: 19px;
	color: black;
	z-index: 1;
}

.button:before {
	content: "";
	position: absolute;
	left: 50%;
	transform: translateX(-50%) scaleY(1) scaleX(1.25);
	top: 100%;
	width: 140%;
	height: 180%;
	background-color: rgba(0, 0, 0, 0.05);
	border-radius: 50%;
	display: block;
	transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
	z-index: -1;
}

.button:after {
	content: "";
	position: absolute;
	left: 55%;
	transform: translateX(-50%) scaleY(1) scaleX(1.45);
	top: 180%;
	width: 160%;
	height: 190%;
	background-color: #39bda7;
	border-radius: 50%;
	display: block;
	transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
	z-index: -1;
}

.button:hover {
	color: #ffffff;
	border: 1px solid #39bda7;
}

.button:hover:before {
	top: -35%;
	background-color: #39bda7;
	transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button:hover:after {
	top: -45%;
	background-color: #39bda7;
	transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
